@media (min-width: 600px){
    /* body{
        background: yellow;
    } */

        /* GRID LAYOUT */
        body{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            'header'
            'nav'
            'main'
            'footer';
        }
        main{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            'article-1 article-2'
            'resources resources'
            ;
        }

        nav ul{
            height: 50px;
            display: flex;
        }
        nav ul li{
            flex: 1 1 auto;
        }
        #article-2 img{
            display: block;
            margin: auto;
        }




}