    /* body{
        background: green;
    } */

    /* GRID LAYOUT */
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'article-1'
        'article-2'
        'resources'
        ;
    }



    /* MOBILE SPECIFIC STYLING */

    header{
        color: white;
        text-shadow: 0 0 5px black;
    }

    #article-1 img{
        margin: auto;
    }
    #article-2 img{
        display: none;
    }