@media (min-width: 1080px){

    body{
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer'
        ;
    }
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        'article-1 article-2 article-2'
        'resources resources resources'
    }








}