@media (min-width: 600px){

    nav ul{
        display: flex;
    }

    img{
        max-width: 45vw;
    }
    #photo-gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'gallery-banner gallery-banner'
        'box-1          box-9'
        'box-3          box-9'
        'box-4          box-5'
        'box-4          box-7'
        'box-8          box-6'
        'box-10         box-6'
        'box-2          box-2'
        ;
    }



}